  <!DOCTYPE html>
  <html>
  <head>
    <style>
       #map {
          height: 600px;
          width: 100%;
      }
  </style>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> <!-- adding jQuery.js -->
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCartbLzZ3WO9nZ0J1FGiMqkg0NKkQf174&callback=initMap">
</script>
<body>
  <form class="form-horizontal" id="keyword_select_form">
    <div class="form-group">

      <label for="select" class="col-sm-2 control-label">Select Word for Tweet Search</label>
      <div class="col-sm-10">
        <select class="form-control" id="selected_keyword">
          <option>car</option>
          <option>house</option>
          <option>country</option>
      </select>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-10 col-sm-offset-2">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
</form>

<h3>TwittMap</h3>
<div id="map"></div>
<script>

    var map;
    var markers=[];
   // var infowindows=[];
    var duplicates=0;
    var markerCluster;
    function initMap() {

      var con={{context|safe}};
      console.log(con);

      var uluru = con[0]['latlng'];
      map=window.map = new google.maps.Map(document.getElementById('map'), {
        zoom: 2,
        minZoom: 2,
        center: uluru
    });

      var infowindow = new google.maps.InfoWindow();


      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

      window.markerCluster = new MarkerClusterer(map, markers,
        {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      window.map.addListener('click', function(e){
        search_tweets(e.latLng.lat(), e.latLng.lng());
      });
  }
  function remove(){
    for (var i = 0; i<markers.length; i++){
        markers[i].setMap(null);
    }
    markers=[]
  }
  function newclick(resp){
 
    var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
    var infowindow = new google.maps.InfoWindow();
    for(var i = 0; i<resp['results'].length; i++){
        contentString='text: '+resp['results'][i]['text']+', name: '+resp['results'][i]['name'];
        //infowindows.push(infowindow);
        var mark  = new google.maps.Marker({
          position: resp['results'][i]['latlng'],
          label: labels[i % labels.length], 
        });
        //console.log(infowindows[0].content);
        /*mark.addListener('click', function(){
            infowindows[i].open(window.map, mark);
        });*/
        google.maps.event.addListener(mark, 'click', (function(mark, contentString, infowindow){
            return function(){
                infowindow.setContent(contentString);
                infowindow.open(map, mark);
            }
        })(mark, contentString, infowindow));
        mark.setMap(map);
        markers.push(mark);
    }
     window.markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
  }
  function newtweet(resp){
      remove();
      window.markerCluster.clearMarkers();
      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
      var infowindow = new google.maps.InfoWindow();
      for(var i = duplicates; i<resp['results'].length; i++){
        contentString='text: '+resp['results'][i]['text']+', name: '+resp['results'][i]['name'];
        //infowindows.push(infowindow);
        var mark  = new google.maps.Marker({
          position: resp['results'][i]['latlng'],
          label: labels[i % labels.length], 
        });
        //console.log(infowindows[0].content);
        /*mark.addListener('click', function(){
            infowindows[i].open(window.map, mark);
        });*/
        google.maps.event.addListener(mark, 'click', (function(mark, contentString, infowindow){
            return function(){
                infowindow.setContent(contentString);
                infowindow.open(map, mark);
            }
        })(mark, contentString, infowindow));
        mark.setMap(map);
        markers.push(mark);
      }
      duplicates=resp['results'].length;
     
     /*
      markers = resp.results.map(function(location, i) {

        var mark  = new google.maps.Marker({
          position: location['latlng'],
          label: labels[i % labels.length]

      });

        

        return mark;
    });
*/

          // Add a marker clusterer to manage the markers.

          window.markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }



      document.getElementById('keyword_select_form').addEventListener('submit', function (e) {
          console.log("inside form function 1");
          e.preventDefault();
            
        console.log("inside form function 2");
        // when submit is hit, make ajax call, get tweet
        search_keyword();


    }, false);
      

      function search_tweets(lat, lng){
        remove();
        window.markerCluster.clearMarkers();
        newData={"lat":lat, "lng":lng};
        $.ajax({
            type:'POST',
            url:'/search',
            data:newData,
            success: function(response){
                newclick(response);
            }
        });
      }

      function search_keyword() {

          console.log(selected_keyword.value);
          $.ajax({
            url: '/search/' + selected_keyword.value,
            type: 'GET',
            success: function(response) {

           //console.log(JSON.stringify(response));
           newtweet(response);
       },
       error: function(error) {
          console.log("error");
           //console.log(JSON.stringify(error));

       }
   });

      }

  </script>

</body>
</html>
